
@mixin img-dimension-izquierda($width, $height){
    width: $width;
    height: $height;
    border-radius: 10%;
    margin: 20px;
    border: 5px solid black;  
    float: left;
}

@mixin img-dimension-derecha($width, $height){
    width: $width;
    height: $height;
    border-radius: 10%;
    margin: 20px;
    border: 5px solid black; 
    float: right; 
}

@mixin dimension-logo($width, $height, $margin){
    width: $width;
    height: $height;
    margin: $margin;
}

@mixin pie-pagina{
    width: 100%;
    display:inline-block;
    text-align: center;
    background-color: $rojo-modificado;
}